<page-title>{{ 'TRANS.menuManageAttendanceAbsenceRules' | translate }}</page-title>

<div class="container mt-5">
    <mat-tab-group>
        <mat-tab label="{{ 'TRANS.Educationsystem' | translate }}"> <education-system></education-system> </mat-tab>
        <mat-tab label="{{ 'TRANS.studentstatus' | translate }}"> <student-status></student-status> </mat-tab>
        <mat-tab label="{{ 'TRANS.PauseAbsence' | translate }}"> <lift-the-absence></lift-the-absence> </mat-tab>
        <mat-tab label="{{ 'TRANS.WarningsAndS' | translate }}"> Content 3 </mat-tab>
      </mat-tab-group>
</div>
