<div class="container-fluid px-3 ">

    <!-- <page-title> {{'TRANS.TaskUnderProcedure'|translate}} </page-title> -->
    <page-title> {{'TRANS.underTheProcedure'|translate}}</page-title>

    <nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center font-weight-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
        <li class="breadcrumb-item"><a class="mx-2" >{{ 'TRANS.underTheProcedure' | translate }}</a></li>
      </ol>
    </nav>





<div class="col-md-12 table-responsive ">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped z-depth-1 excel-print">
      <thead>
        <tr>
          <th>#</th>
          <th> {{'TRANS.nameservice'|translate}}</th>
          <th> {{'TRANS.coursesthcourseName'|translate}}</th>

          <th> {{'TRANS.OrderNumber'|translate}}</th>
          <th>  {{'TRANS.Introductionapplication'|translate}} </th>
          <th>  {{'TRANS.Orderstatus'|translate}} </th>
          <th>  {{'TRANS.dateapplication'|translate}} </th>
          <th class="d-none-print">  {{'TRANS.details'|translate}} </th>
        </tr>
    </thead>
    <tbody>

      <tr  *ngFor="let MyTask of MyTasks let i = index;">
        <td> {{i+1}}</td>

        <td> {{MyTask.RequestTypeName}}</td>
        <td> {{MyTask.CourseName}}</td>

        <td> {{MyTask.RequestNumber}}</td>
        <td> {{MyTask.RequesterName}}</td>
        <td> {{MyTask.TaskStatus}}</td>
        <td> {{MyTask.RequestDate}}</td>



        <td *ngIf="MyTask.RequestTypeCode === 'Med' "><a (click)="TasksProgresView(MyTask.Id)" target="_blank"> <i class="fas fa-chalkboard-teacher fa-2x c5" title="{{'TRANS.viewmedicalexcuse'|translate}}"></i></a></td>
        <td *ngIf="MyTask.RequestTypeCode === 'Perm' " ><a (click)="AskedpermissionView(MyTask.Id)" target="_blank"> <i class="fas fa-chalkboard-teacher fa-2x c3" title="{{'TRANS.Viewpermissionrequest'|translate}}"></i></a></td>



      </tr>


    </tbody>
    </table>

</div>
</div>