<ngx-spinner bdColor="#fff"> <img src='/assets/imgs/loader.gif' /> </ngx-spinner>
<div class="container-fluid mb-4">

<page-title>{{ 'TRANS.Askedpermission' | translate }}</page-title>


    

    <nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
        <li class="breadcrumb-item"><a class="mx-2" >{{ 'TRANS.Askedpermission' | translate }}</a></li>
      </ol>
    </nav>


<!-- <div class=" color-p h3">
  <i class="fas fa-chalkboard-teacher"></i> {{'TRANS.Applicationdata'|translate}}
</div> -->

<span class="color-p h3 d-flex px-3 font-weight-bold font-20 px-2">
  <i class="far fa-list-alt px-2 pb-3"></i> {{'TRANS.Applicationdata'|translate}}
</span>


<div class="row h5 font-weight-bold font-18">
    <div class="control-group form-group col-md-6 d-flex font-weight-bold">
        <div class="controls">
             <label class="mx-3 color-p "><b>  {{'TRANS.OrderNumber'|translate}}</b></label>
             <span>{{TaskDetails.RequestNumber}}</span>
        </div>
    </div>
    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">

             <label class="mx-3 color-p"><b>    {{'TRANS.DateOfApplication'|translate}}</b></label>
            <span >{{TaskDetails.RequestDate}}</span>
        </div>
    </div>


</div>

<div class="row h5 font-weight-bold font-18">

    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">
            <label class="mx-3 color-p"><b>{{'TRANS.studentname'|translate}} </b></label>
            <span > {{TaskDetails.RequesterName}}</span>
        </div>
    </div>
    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">

            <label class="mx-3 color-p"><b> {{'TRANS.collegesthCollegeName'|translate}} </b></label>
            <span >{{TaskDetails.CollegeName}} </span>
        </div>
    </div>

</div>





<div class="row h5 font-weight-bold font-18">
    
    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">
             <label class="mx-3 color-p"><b>   {{'TRANS.Datelecture'|translate}}</b></label>
            <span >{{TaskDetails.LectureDate}}  </span>
        </div>
    </div>

    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">
             <label class="mx-3 color-p"><b>   {{'TRANS.appointmentlecture'|translate}}</b></label>
             <span >{{TaskDetails.LectureStartEnd}}  </span>
        </div>
    </div>
</div>


<div class="row h5 font-weight-bold font-18">
    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">

             <label class="mx-3 color-p"><b>   {{'TRANS.coursesthcourseName'|translate}}</b></label>
             <span >{{TaskDetails.CourseName}}  </span>

        </div>
    </div>
    <div class="control-group form-group col-md-6 d-flex">
        <div class="controls">
             <label class="mx-3 color-p"><b>   عرض الملف</b></label>

             <a href="{{TaskDetails.FileURL}}"  target="_blank" download="">عرض الملف<i class="far fa-file-image c1 px-2"></i></a>
            </div>
    </div>
</div>


<div class="row " >
    <div class="form-group col-md-12">
      <b class="color-p mx-3 my-2 d-block text-right h5 font-weight-bold">{{ 'TRANS.reasonexcuse' | translate }}</b>

      <textarea class="form-control" rows="3" cols="50"  id="Notes" disabled>
 
      </textarea>
      
    </div>
  </div>
<hr class="shadow">
<span class="color-p h3 d-flex px-3 font-weight-bold font-20">
  <i class="fas fa-list-ul px-2 pb-3"></i>
  {{'TRANS.Recordpreviouspermission'|translate}}
</span>
<div class="col-md-12 table-responsive ">
  <table    class="row-border hover table table-striped  text-center">
    <thead>
      <tr style="background-color: #E9E9E9;">
        <th>#</th>
        <th>{{'TRANS.OrderNumber'|translate}} </th>
        <th>{{'TRANS.Datelecture'|translate}} </th>
        <th>{{'TRANS.appointmentlecture'|translate}} </th>
        <th>{{'TRANS.Submissiondate'|translate}} </th>
        <th>{{'TRANS.thedecision'|translate}} </th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let MyDetail of MyDetails let i = index;">
      <td>{{i+1}}</td>

      <td>{{MyDetail.RequestNumber}}</td>
      <td>{{MyDetail.LectureDate}}</td>
      <td>{{MyDetail.LectureStartEnd}}</td>
      <td>{{MyDetail.RequestDate}}</td>
      <td>{{MyDetail.Decision}}</td>

    </tr>

    <tr class="text-center h4 text-danger font-weight-bold">
      <td colspan="6">{{Message}}</td> 
    </tr>
  </tbody>
  </table>




</div>
<hr class="shadow">


<span class="color-p h3 d-flex px-3 font-weight-bold font-20">
  <i class="fas fa-user-check px-2 pb-3"></i> {{'TRANS.thedecision'|translate}}
</span>

<form [formGroup]="decisionForm"  #mainForm="ngForm" (ngSubmit)="submit()">
  <div class="d-flex justify-content-center">
      <div class="custom-control custom-radio custom-control-inline " title="{{'TRANS.Acceptance'|translate}}">
          <input type="radio" class="custom-control-input shadow" id="IsCompleted1" value="Approved"  formControlName="Decision"   mdbInput [attr.disabled]="TaskDetails.TaskStatus === 'Rejected' ||  TaskDetails.TaskStatus === 'Approved'? true : null" [ngClass]="{ 'is-invalid': submitTasksProgresError && TasksProgresformErrors.Decision.errors }">
          <label class="custom-control-label px-2 text-primary font-Lable font-weight-bold "    for="IsCompleted1"> {{'TRANS.Acceptance'|translate}}  </label>
        </div>
  
        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline" title="{{'TRANS.Rejection'|translate}} ">
          <input type="radio" class="custom-control-input text-danger" id="IsCompleted2" value="Rejected" formControlName="Decision"  mdbInput  [attr.disabled]="TaskDetails.TaskStatus === 'Rejected' ||  TaskDetails.TaskStatus === 'Approved'? true : null" [ngClass]="{ 'is-invalid': submitTasksProgresError && TasksProgresformErrors.Decision.errors }">
          <label class="custom-control-label px-2 p-color text-danger font-weight-bold font-Lable "  for="IsCompleted2"> {{'TRANS.Rejection'|translate}} </label>
        </div>
  
        <div *ngIf="submitTasksProgresError && TasksProgresformErrors.Decision.errors" class="invalid-feedback">
          <h4 *ngIf="TasksProgresformErrors.Decision.errors.required">{{'TRANS.validationReq'|translate}}</h4>
        </div>
  </div>
  <!-- <div class="row " *ngIf="show"> -->
  
  <div class="row " >
      <div class="form-group col-md-12" title="{{ 'TRANS.Notes' | translate }}">
        <b class="color-p mx-3 my-2 d-block text-right h5 font-weight-bold">{{ 'TRANS.Notes' | translate }}</b>
  
        <textarea class="form-control" rows="4" cols="50" formControlName="Notes" id="Notes" [attr.disabled]="TaskDetails.TaskStatus === 'Rejected' ||  TaskDetails.TaskStatus === 'Approved'? true : null">{{TaskDetails.Note}}</textarea>
        <div *ngIf="submitTasksProgresError && TasksProgresformErrors.Notes.errors" class="invalid-feedback">
          <h4 *ngIf="TasksProgresformErrors.Notes.errors.required">{{'TRANS.validationReq'|translate}}</h4>
        </div>
      </div>
    </div>
  
  <br>
  <input type="hidden" formControlName="TaskId">
  
    <div class="d-flex justify-content-center">
  
  
      <button type="button"  (click)="CustomModal()"  [disabled]="decisionForm.invalid || decisionForm.get('Decision').value === 'Pending'" *ngIf="TaskDetails.TaskStatus === 'تحت الاجراء' || TaskDetails.TaskStatus === 'Pending'" mdbBtn  class="relative waves-light s6 shadow text-white px-5" mdbWavesEffect title="{{'TRANS.save'|translate}}">{{'TRANS.save'|translate}}</button>
  
      <button type="button" (click)="close()" mdbBtn  class="waves-light s2 shadow text-white px-5" aria-label="Close"  mdbWavesEffect title="{{'TRANS.Cancel'|translate}}">{{'TRANS.Cancel'|translate}}</button>
  </div>
  
  </form>
  
  {{decisionForm.value | json}}
  </div>



<dynamic-modal *ngIf="openModal == true"  (closeModal)="CustomModal()" (submitParent)="mainForm.ngSubmit.emit()">
  {{'TRANS.Areyousuredecision'|translate}}
</dynamic-modal>
<br>
