
  <!-- <button (click)="frame.show()">click</button> ,-->

  <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="5x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>تم تسجيل الحضور بنجاح</p>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
