
    <div class="content-container border">
      <mat-icon class="text-danger p-3 " id="close-icon" (click)="closeDialog()" title="{{'TRANS.close'|translate}}"><i class="far fa-times-circle fa-1x "></i></mat-icon>
     
  
      <div class="text-center text-success">
        <mdb-icon fas icon="check" size="4x" class="py-1 animated rotateIn"></mdb-icon>
        <h2 class="py-1">تم حفظ البيانات بي نجاح.</h2>
      </div>
    </div>
    <div class="justify-content-center">
    
      <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="closeDialog()">اغلاق </a>
    </div>

    MedicalExcuse
    Premission
    Files 
  
  
  