<div class="container-fluid mb-4">

  <page-title>{{ 'TRANS.coursesTitle' | translate }} </page-title>
  <nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
      <li class="breadcrumb-item"><a class="mx-2" >{{ 'TRANS.coursesTitle' | translate }}</a></li>
    </ol>
  </nav>
  <form [formGroup]="srchForm" (ngSubmit)="submit()">
    <div class="row my-4">
      <div class="col-md-3 pr-0">
        <div class="form-group">
          <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.menuCollege' | translate }}</b>
          <select
            class="form-control"
            formControlName="college"
            (change)="onChangeCollege($event.target.value)"
          >
            <option value="" selected>{{'TRANS.selectColleges'|translate}}</option>
<option *ngFor="let college of colleges" [value]="college.CollegeCode" > <span>{{ college.Name }}</span> </option>
          </select>
        </div>
      </div>

      <div class="col-md-3 pr-0">
        <div class="form-group">
          <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.MajorsthDepartment' | translate }}</b>
          <select class="form-control" formControlName="department">
            <option value="" selected>{{'TRANS.selectDepartments'|translate}}</option>
            <option *ngFor="let department of departments" [value]="department.DepartmentCode" ><span *ngIf="pageLang === 'ar'">{{ department.NameAr }}</span> <span *ngIf="pageLang === 'en'">{{ department.NameEn }}</span>  </option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <b class="color-p mx-3 my-3 d-block text-right"><br/></b>
        <button type="submit" class="w-75 btn-main px-4 py-2 rounded-pill" [disabled]="srchForm.invalid">
          {{ 'TRANS.search' | translate }}
          <i class="fas fa-search pr-2"></i>
        </button>
      </div>

    </div>
  </form>

  <!-- <div class="col-md-12">
    <p>
      {{ srchForm.value | json }}
    </p>
  </div> -->

  <div class="col-md-12 table-responsive">
    <export [elements]="elements"></export>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped excel-print" >
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'TRANS.code' | translate }} </th>
          <th>{{ 'TRANS.coursesthcourseName' | translate }}</th>
          <th>{{ 'TRANS.coursesthTotalHours' | translate }}</th>
          <th>{{ 'TRANS.coursesthTheoretical' | translate }}</th>
          <th>{{ 'TRANS.coursesthExercises' | translate }}</th>
          <th>{{ 'TRANS.coursesthPracticality' | translate }}</th>
          <th class="d-none-print">{{ 'TRANS.collegesthStatus' | translate }}</th>
          <th class="d-none-print d-none">{{ 'TRANS.tablethActions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of elements,index as i">
          <td>{{ i+1 }}</td>
          <td>{{ element.CourseSubject }}{{ element.CourseNumber }}</td>
          <td *ngIf="pageLang === 'ar'">{{ element.NameAr }}</td>
          <td *ngIf="pageLang === 'en'">{{ element.NameEn }}</td>
          <td>{{ element.TotalHours }}</td>
          <td>{{ element.TheoreticalHours }}</td>
          <td>{{ element.ExercisesHours }}</td>
          <td>{{ element.PracticalityHours }}</td>
          <td class="d-none-print">
             <div class="form-group">
                <label class="switch">
                   <input type="checkbox" [checked]="element.IsActive" (change)="changeActive(element)" />
                    <span class="slider round"></span>
                   </label>
                   </div>
                   </td>
          <td class="d-none-print d-none">
            <div (click)="showMod(element.Id)">
              <a mdbBtn type="button" class="w-auto px-3 circle-btn"  mdbWavesEffect  (click)="basicModal.show()"><i class="far fa-edit"></i></a>
            </div>

            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">{{ 'TRANS.modalEditTitle' | translate }}</h4>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="editForm" #mainForm="ngForm" (ngSubmit)="edit(element)">
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.code' | translate }}</b>
                            <input type="text" class="form-control" disabled [value]="element.CourseSubject + element.CourseNumber">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthcourseNameAr' | translate }}</b>
                            <input type="text" class="form-control" formControlName="nameAr">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('nameAr').invalid && editForm.get('nameAr').touched">
                              <p class="m-0" *ngIf="editForm.get('nameAr').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthcourseNameEn' | translate }}</b>
                            <input type="text" class="form-control" formControlName="nameEn">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('nameEn').invalid && editForm.get('nameEn').touched">
                              <p class="m-0" *ngIf="editForm.get('nameEn').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthTotalHours' | translate }}</b>
                            <input type="text" class="form-control" formControlName="totalHours">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('totalHours').invalid && editForm.get('totalHours').touched">
                              <p class="m-0" *ngIf="editForm.get('totalHours').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthTheoretical' | translate }}</b>
                            <input type="text" class="form-control" formControlName="theoreticalHours">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('theoreticalHours').invalid && editForm.get('theoreticalHours').touched">
                              <p class="m-0" *ngIf="editForm.get('theoreticalHours').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthExercises' | translate }}</b>
                            <input type="text" class="form-control" formControlName="exercisesHours">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('exercisesHours').invalid && editForm.get('exercisesHours').touched">
                              <p class="m-0" *ngIf="editForm.get('exercisesHours').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <b class="color-p mx-3 my-3 d-block text-right">{{ 'TRANS.coursesthPracticality' | translate }}</b>
                            <input type="text" class="form-control" formControlName="practicalityHours">
                            <div class="alert alert-danger mt-1" *ngIf="editForm.get('practicalityHours').invalid && editForm.get('practicalityHours').touched">
                              <p class="m-0" *ngIf="editForm.get('practicalityHours').errors.required">{{ 'TRANS.validationReq' | translate }}</p>
                            </div>
                          </div>
                        </div>

                      </div>
                     <div class="row">
                      <div class="col-md-4 mx-auto">
                        <button type="button" class="w-75 btn-main px-4 py-2 rounded-pill" aria-label="Close"  (click)="CustomModal()" [disabled]="editForm.invalid">{{ 'TRANS.save' | translate }}</button>
                      </div>
                      <dynamic-modal *ngIf="openModal == true"  (closeModal)="CustomModal()" (submitParent)="mainForm.ngSubmit.emit()">
                        هل انت متأكد من تعديل هذا السجل ؟
                      </dynamic-modal>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
