<div class="container-fluid px-3 ">

    <!-- <page-title> {{'TRANS.TaskUnderProcedure'|translate}} </page-title> -->
    <page-title>الملف الشخصي </page-title>
  
    <nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center font-weight-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
        <li class="breadcrumb-item"><a class="mx-2" >الملف الشخص</a></li>
      </ol>
    </nav>


    <div class="row text-center">
        <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
                <div class="row">

            <div class="col-md-6">  <b class="color-p">الاسم بالغة  العربية</b> </div>
            <div class="col-md-6">محمد حسن عبد االله</div>


                </div>
            </div>

           
            <div class="col-md-6">
                <div class="row">

            <div class="col-md-6">  <b class="color-p">    الاسم بااللغة الانجليزيه</b> </div>
            <div class="col-md-6">Mohamed Hassan Abdullah</div>
                </div>
            </div>

                </div>
                </div>
        </div>

  </div>
