<div class="row mt-5 py-5">
    <div class="col-md-4 row mx-auto my-4">
        <div class="col-4" >
            <div class="icon-circle text-white text-center ">
                <i class="fas fa-landmark"></i>
            </div>
        </div>
        <div class="col-7 text-right dash-info">
            <h1 class="dash-title"> <span>{{dashboard.CollegesTotalCount}}</span> {{ 'TRANS.collegesTitle' | translate }} </h1>
            <span class="mx-3 act-no " > {{dashboard.CollegesActiveCount}} فعال  </span>
            <span class="mx-3 act-no " > {{dashboard.CollegesInActiveCount}} غير فعال  </span>
            <hr class="w-100" >
            <a class="row py-1"  routerLink="admin/colleges"> 
                <div class="icon-link text-white text-center py-1 mx-3"><i class="fas fa-cog "></i></div>    
                {{ 'TRANS.menuManageColleges' | translate }}
            </a>
        </div>
    </div> 
    <div class="col-md-4 row mx-auto my-4">
        <div class="col-4" >
            <div class="icon-circle text-white">
                <i class="fas fa-graduation-cap"></i>
            </div>
        </div>
        <div class="col-7 text-right dash-info">
            <h1 class="dash-title"> <span> {{dashboard.StudentsTotalCount}} </span>  {{ 'TRANS.studentsLength' | translate }} </h1>
            <span class="mx-3 act-no " > {{dashboard.StudentsActiveCount}} فعال  </span>
            <span class="mx-3 act-no " > {{dashboard.StudentsInActiveCount}} غير فعال  </span>
            <hr class="w-100" >
            <a class="row py-1" routerLink="admin/studentadmin"> 
                <div class="icon-link text-white text-center py-1 mx-3"><i class="fas fa-cog "></i></div>    
                {{ 'TRANS.menuManageStudentData' | translate }}
            </a>
        </div>
    </div> 
    <div class="col-md-4 row mx-auto my-4">
        <div class="col-4" >
            <div class="icon-circle text-white">
                <i class="fas fa-briefcase"></i>
            </div>
        </div>
        <div class="col-7 text-right dash-info">
            <h1 class="dash-title"> <span> {{dashboard.StaffMembersTotalCount}} </span>   {{ 'TRANS.FacultyMemberName' | translate }} </h1>
            <span class="mx-3 act-no " > {{dashboard.StaffMembersActiveCount}} فعال  </span>
            <span class="mx-3 act-no " > {{dashboard.StaffMembersInActiveCount}} غير فعال  </span>
            <hr class="w-100" >
            <a class="row py-1" routerLink="admin/facultyMember"> 
                <div class="icon-link text-white text-center py-1 mx-3"><i class="fas fa-cog "></i></div>    
                {{ 'TRANS.menuManageMemberData' | translate }}
            </a>
        </div>
    </div> 
    <hr class="w-100 my-5 " >
    <div class="col-md-4 row mx-auto my-4">
        <div class="col-4" >
            <div class="icon-circle text-white">
                <i class="fas fa-book"></i>
            </div>
        </div>
        <div class="col-7 text-right dash-info">
            <h1 class="dash-title"> <span> {{dashboard.CoursesTotalCount}} </span>  {{ 'TRANS.coursesTitle' | translate }} </h1>
            <span class="mx-3 act-no " > {{dashboard.CoursesActiveCount}} فعال  </span>
            <span class="mx-3 act-no " > {{dashboard.CoursesInActiveCount}} غير فعال  </span>
            <hr class="w-100" >
            <a class="row py-1"  routerLink="admin/courses"> 
                <div class="icon-link text-white text-center py-1 mx-3"><i class="fas fa-cog "></i></div>    
                {{ 'TRANS.coursesTitle' | translate }}
            </a>
        </div>
    </div> 
    <div class="col-md-4 row mx-auto my-4">
        <div class="col-4" >
            <div class="icon-circle text-white">
                <i class="fas fa-bookmark"></i>
            </div>
        </div>
        <div class="col-7 text-right dash-info">
            <h1 class="dash-title"> <span> {{dashboard.SectionsTotalCount}} </span>   {{ 'TRANS.menuSections' | translate }} </h1>
            <span class="mx-3 act-no " > {{dashboard.SectionsActiveCount}} فعال  </span>
            <span class="mx-3 act-no " > {{dashboard.SectionsInActiveCount}} غير فعال  </span>
            <hr class="w-100" >
            <a class="row py-1" routerLink="admin/sections"> 
                <div class="icon-link text-white text-center py-1 mx-3"><i class="fas fa-cog "></i></div>    
                {{ 'TRANS.menuSections' | translate }}
            </a>
        </div>
    </div> 
</div>