<div class="row  ">
    <div class="col-md-2 col-6 row mx-auto p-0 my-3">
        <div class="col-12 text-center">
            <div class="icon-circle mx-auto text-white text-center ">
                <i class="fas fa-landmark"></i>
            </div>
            <a class="row py-2" routerLink="admin/colleges">

                <h3 class="dash-title m-0"> <i class="fas fa-cog  color-p mx-1 icon-link "></i>
                    {{ 'TRANS.collegesTitle' | translate }} </h3>
            </a>
        </div>
        <!-- <span>{{dashboard.CollegesTotalCount}}</span> -->
    </div>
    <div class="col-md-2 col-6 row mx-auto p-0 my-3">
        <div class="col-12 text-center">
            <div class="icon-circle mx-auto text-white">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <a class="row py-2" routerLink="admin/studentadmin">

                <h3 class="dash-title m-0"> <i class="fas fa-cog  color-p mx-1 icon-link "></i>
                    {{ 'TRANS.studentsLength' | translate }} </h3>
            </a>

        </div>
    </div>
    <div class="col-md-2 col-6 row mx-auto p-0 my-3">
        <div class="col-12 text-center">
            <div class="icon-circle mx-auto text-white">
                <i class="fas fa-briefcase"></i>
            </div>
            <a class="row py-2" routerLink="admin/facultyMember">
                <h3 class="dash-title m-0">
                    <i class="fas fa-cog  color-p mx-1 icon-link "></i>
                    {{ 'TRANS.FacultyMemberName' | translate }} </h3>
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6 row mx-auto p-0 my-3">
        <div class="col-12 text-center">
            <div class="icon-circle mx-auto text-white">
                <i class="fas fa-book"></i>
            </div>
            <a class="row py-2" routerLink="admin/courses">

                <h3 class="dash-title m-0"> <i class="fas fa-cog  color-p mx-1 icon-link "></i>
                    {{ 'TRANS.coursesTitle' | translate }} </h3>
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6 row mx-auto p-0 my-3">
        <div class="col-12 text-center">
            <div class="icon-circle mx-auto text-white">
                <i class="fas fa-bookmark"></i>
            </div>
            <a class="row py-2" routerLink="admin/sections">

                <h3 class="dash-title m-0"> <i class="fas fa-cog  color-p mx-1 icon-link "></i>
                    {{ 'TRANS.menuSections' | translate }} </h3>
            </a>
        </div>

    </div>
</div>
<hr class="col-12 p-0 my-3">

<div class="row charts-row">
    <div class="col-12">
        <div class="col-4 text-right mb-1 mx-auto">
            <b class="my-3 d-block"> الجهة </b>
        <select class="form-control py-0 px-2"  >
            <option value="" selected>{{'TRANS.selectColleges'|translate}}</option>
            <option>
                <span>
                   كلية
                </span>
            </option>
            <option>
                <span>
                   كلية
                </span>
            </option>
            <option>
                <span>
                   كلية
                </span>
            </option>
        </select>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862">
            <circle class="circle-chart__background" stroke="#efefef" stroke-width="3" fill="none" cx="16.91549431"
                cy="16.91549431" r="14.91549431" />
            <circle class="circle-chart__circle" stroke="#2acf82" stroke-dasharray="50, 100" stroke-width="3"
                fill="none" cx="16.91549431" cy="16.91549431" r="14.91549431" />
            <g class="circle-chart__info">
                <text class="circle-chart__percent text-success" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="5">50%</text>
            </g>
        </svg>
        <h3 class="w-100 text-center color-p my-3">
            متوسط نسب الاعذار
        </h3>
    </div>
    <div class="col-md-3 text-center">
        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862">
            <circle class="circle-chart__background" stroke="#efefef" stroke-width="3" fill="none" cx="16.91549431"
                cy="16.91549431" r="14.91549431" />
            <circle class="circle-chart__circle" stroke="#2acf82" stroke-dasharray="50, 100" stroke-width="3"
                fill="none" cx="16.91549431" cy="16.91549431" r="14.91549431" />
            <g class="circle-chart__info">
                <text class="circle-chart__percent text-success" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="5">50%</text>
            </g>
        </svg>
        <h3 class="w-100 text-center color-p my-3">
            متوسط نسب الاعذار
        </h3>
    </div>
    <div class="col-md-3 text-center">
        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862">
            <circle class="circle-chart__background" stroke="#efefef" stroke-width="3" fill="none" cx="16.91549431"
                cy="16.91549431" r="14.91549431" />
            <circle class="circle-chart__circle" stroke="#2acf82" stroke-dasharray="50, 100" stroke-width="3"
                fill="none" cx="16.91549431" cy="16.91549431" r="14.91549431" />
            <g class="circle-chart__info">
                <text class="circle-chart__percent text-success" x="16.91549431" y="15.5" alignment-baseline="central"
                    text-anchor="middle" font-size="5">50%</text>
            </g>
        </svg>
        <h3 class="w-100 text-center color-p my-3">
            متوسط نسب الاعذار
        </h3>
    </div>
</div>

<div class="row bottom py-2 mt-1">
    <div class="col-md-6 color-p row">
        <div class="white-circ mx-4">
            <i class="far fa-list-alt"></i>
        </div>
        <h2 class="my-3">
            <b> الاعذار الطبية </b>
        </h2>
        <div class="row col-12 my-4">
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > المقدم </b>
                <span class=" mx-1"> 3546 </span>
            </div>
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > المكتمل </b>
                <span class=" mx-1"> 3546 </span>
            </div>
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > تحت الاجراء </b>
                <span class=" mx-1"> 3546 </span>
            </div>
    
        </div>
    </div>
    <div class="col-md-6 color-p row">
        <div class="white-circ mx-4">
            <i class="far fa-list-alt"></i>
        </div>
        <h2 class="my-3">
            <b> الاستئذان </b>
        </h2>
        <div class="row col-12 my-4">
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > المقدم </b>
                <span class=" mx-1"> 3546 </span>
            </div>
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > المكتمل </b>
                <span class=" mx-1"> 3546 </span>
            </div>
            <div class="col-md-4 row">
                <i class="fas fa-circle mx-1"></i>
                <b class=" mx-1" > تحت الاجراء </b>
                <span class=" mx-1"> 3546 </span>
            </div>
    
        </div>
    </div>
</div>