.mat-expansion-panel-header-description{
    flex-grow: 1;
}



.mat-expansion-panel-header{
background-color: #F7F7F7 !important;
height: 43px !important;
}

.mat-expansion-panel-header{
background-color: #F7F7F7 !important;
height: 43px !important;



}

.main-search{
    display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }