<div class="container-fluid px-3 ">

  <div class="page-title mt-3  text-center">
    <div class="page-icon d-none">
      <img src="imgs/Icon feather-settings.png" alt="">
    </div>


    <h1 class="color-p pageTitle  text-center" title="{{'TRANS.SessionTimemanagement'|translate}}">
      <b> <i class="fas fa-university"></i> {{'TRANS.SessionTimemanagement'|translate}} </b>

    </h1>


  </div>


  <hr class="shadow">
  <div class="row">
    <div class="col-md-12">

      <form [formGroup]="srchForm" (ngSubmit)="submit()">
        <div class="row ">

          <div class="col-md-3 mx-auto row rowInfo my-2">
            <div>
              <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.term-Semester'|translate}} </b>
            </div>
            <div class=" col-md-12 text-right " title="{{'TRANS.term-Semester'|translate}}">
              <select class="form-control py-0 shadow" formControlName="term" required [attr.disabled]="true">
                <option value=""></option>
                <option *ngFor="let term of terms" [value]="term.TermCode">

                  <span *ngIf="pageLang === 'ar'">
                    {{ term.NameAr }}
                  </span>
                  <span *ngIf="pageLang === 'en'">
                    {{ term.NameEn }}

                  </span>
                </option>
              </select>
            </div>
          </div>



          <div class="col-md-3 mx-auto row rowInfo my-2">
            <div>
              <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.CollegeName'|translate}} </b>
            </div>
            <div class=" col-md-12 text-right " title="{{'TRANS.CollegeName'|translate}}">
              <select class="form-control py-0 shadow" [attr.disabled]="true" required formControlName="college"
                (change)="onChangeCollege($event.target.value)">
                <option value=""></option>
                <option *ngFor="let college of colleges" [value]="college.CollegeCode">
                  {{  college.Name }}

                </option>
              </select>
            </div>
          </div>



          <div class="col-md-3 mx-auto row rowInfo my-2">
            <div>
              <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.DepartmentName'|translate}} </b>
            </div>
            <div class=" col-md-12 text-right " title="{{'TRANS.DepartmentName'|translate}}">
              <select class="form-control py-0 shadow" required [attr.disabled]="true" formControlName="department"
                (change)="onChangeDepartments($event.target.value)">
                <option value=""></option>

                <option *ngFor="let department of departments" [value]="department.DepartmentCode">
                  <span *ngIf="pageLang === 'ar'"> {{ department.NameAr   }}</span>
                  <span *ngIf="pageLang === 'en'"> {{ department.NameEn  }}</span>

                </option>
              </select>
            </div>
          </div>


          <div class="col-md-3 mx-auto row rowInfo my-2">
            <div>
              <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.namedivision'|translate}} </b>
            </div>
            <div class=" col-md-12 text-right " title="{{'TRANS.namedivision'|translate}}">
              <select class="form-control py-0 shadow" [attr.disabled]="true" formControlName="crnSection" required>
                <option value="" selected></option>
                <option *ngFor="let CrnSection of CrnSections" [value]="CrnSection.Crn">
                  {{CrnSection.CourseTitleAr  + " - "+ CrnSection.Crn}}
                </option>
              </select>
            </div>
          </div>



        </div>


      </form>

    </div>


  </div>



  <!-- تحديد اعضاء هيئة تدريس الشعبة -->
  <hr class="shadow">
  <div class="page-title ">
    <h2 class="color-p    text-center">
      <b><i class="fas fa-chalkboard-teacher"></i> {{'TRANS.facultyMembersDepartment'|translate}} </b>
    </h2>
  </div>
  <div class="row">
    <!-- Material input -->


    <form class="example-form col-12 " (ngSubmit)="submitFormFacultyMember()" [formGroup]="FormFacultyMember">

      <div class="row justify-content-center">




        <div class="col-md-4 row ">
          <div>
            <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.ArticleConsultant'|translate}} <span
                class="text-danger">*</span></b>
          </div>
          <div class=" col-md-12 text-right ">
            <select class="form-control py-0 " required formControlName="FacultyMemberId"
              title="{{'TRANS.ArticleConsultant'|translate}}"
              [ngClass]="{ 'is-invalid': submitted && FacultyErrors.FacultyMemberId.errors }">
              <option disabled value="" selected>{{'TRANS.ProfessorArticle'|translate}}</option>
              <option *ngFor="let FacultyMember of FacultyMembers" [value]="FacultyMember.Id">
                <span *ngIf="pageLang === 'ar'">{{FacultyMember.NameAr}}</span>
                <span *ngIf="pageLang === 'en'">{{FacultyMember.NameEn}}</span>

              </option>

            </select>
            <div *ngIf="submitted && FacultyErrors.FacultyMemberId.errors" class="invalid-feedback">
              <h4 *ngIf="FacultyErrors.FacultyMemberId.errors.required">{{'TRANS.validationReq'|translate}}</h4>
            </div>
          </div>
        </div>





        <input type="hidden" formControlName="Crn">
        <input type="hidden" formControlName="TermCode">
        <input type="hidden" formControlName="CourseSubject">
        <input type="hidden" formControlName="CourseNumber">


        <div class="col-md-2  botSerach">
          <button mdbWavesEffect type="submit" [disabled]="FormFacultyMember.invalid"
            class="w-75 btn-main px-4 py-2 rounded-pill shadow" title="{{ 'TRANS.Add' | translate }}">
            {{ 'TRANS.Add' | translate }}
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
      </div>


    </form>


    <div class="table-responsive mr-3 content mt-3">



      <table class="row-border hover table table-striped z-depth-1  text-center shadow">
        <thead>
          <tr style="background-color:#E9E9E9 ;color: #653B8C;">
            <th width="2%">#</th>
            <th> {{ 'TRANS.facultyMemberTHEmail' | translate }}</th>
            <th>{{ 'TRANS.ArticleConsultant' | translate }}</th>

            <th>{{ 'TRANS.Action' | translate }}</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let facultyMemberEnrollment of facultyMemberEnrollments,index as i">

            <ng-container *ngIf="facultyMemberEnrollment.FacultyMemberId">
              <td>{{i+1}}</td>
              <td> {{facultyMemberEnrollment.UniversityEmail}}</td>
              <td>
                <span *ngIf="pageLang === 'ar'">{{facultyMemberEnrollment.FacultyMemberNameAr}}</span>
                <span *ngIf="pageLang === 'en'">{{facultyMemberEnrollment.FacultyMemberNameEn}}</span>

              </td>

              <td>

                <a title="{{ 'TRANS.Delete' | translate }}"><i class="far fa-trash-alt px-2 fa-2x text-danger"
                    (click)="DeletefacultyMemberEnrollment(facultyMemberEnrollment.Id)"></i></a>

              </td>
            </ng-container>



          </tr>
        </tbody>

      </table>




    </div>
  </div>





  <hr>
  <!-- تحديد المقررات -->


  <div class="page-title ">
    <h2 class="color-p    text-center">
      <b><i class="far fa-calendar-alt"></i> {{'TRANS.Definedecisions'|translate}} </b>
    </h2>
  </div>

  <div class="row">


    <div class="table-responsive mr-3 content">

      <br>
      <a class="icon-add " title="{{ 'TRANS.Add' | translate }}" (click)="ifcheck()"><i
          class="fas fa-plus fa-2x gree text-success" (click)="basicModal.show()"></i></a> 
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="row-border hover table table-striped z-depth-1  text-center shadow">

        <thead>
          <tr style="background-color:#E9E9E9 ;color: #653B8C;">
            <th width="2%">#</th>

            <th width="20%">{{ 'TRANS.Today' | translate }}</th>

            <th>{{ 'TRANS.Fromhour' | translate }}</th>
            <th>{{ 'TRANS.tohour' | translate }}</th>
            <th>{{ 'TRANS.ArticleConsultant' | translate }}</th>
            <th> {{ 'TRANS.roomcode' | translate }}</th>

            <th>{{ 'TRANS.Tabletype' | translate }}</th>
            <th>{{ 'TRANS.Action' | translate }}</th>
          </tr>
        </thead>
        <tbody>



          <tr *ngFor="let element of elements,index as i">
            <ng-container *ngIf="element.FacultyMemberId">
              <td>{{ i+1 }}</td>
              <td>
                <span *ngIf="element.Saturday"> {{ 'TRANS.Saturday' | translate }}</span>
                <span *ngIf="element.Sunday"> {{ 'TRANS.Sunday' | translate }}</span>
                <span *ngIf="element.Monday"> {{ 'TRANS.Monday' | translate }} </span>
                <span *ngIf="element.Tuesday"> {{ 'TRANS.Tuesday' | translate }}</span>
                <span *ngIf="element.Wensday"> {{ 'TRANS.Wednesday' | translate }}</span>
                <span *ngIf="element.Thursday"> {{ 'TRANS.Thursday' | translate }}</span>
              </td>


              <td *ngIf="pageLang == 'ar'">{{element.StartTime  | convertFrom24To12FormatAr}}</td>
              <td *ngIf="pageLang == 'en'">{{element.StartTime  | convertFrom24To12Format}}</td>

              <td *ngIf="pageLang == 'ar'">{{element.EndTime  | convertFrom24To12FormatAr}}</td>
              <td *ngIf="pageLang == 'en'">{{element.EndTime  | convertFrom24To12Format}}</td>

              <td *ngIf="pageLang === 'ar'">{{element.FacultyMemberNameAr}}</td>
              <td *ngIf="pageLang === 'en'">{{element.FacultyMemberNameEn}}</td>

              <td>{{element.RoomCode}}</td>
              <td *ngIf="pageLang === 'ar'">{{element.LectureType.NameAr}}</td>
              <td *ngIf="pageLang === 'en'">{{element.LectureType.NameEn}}</td>

              <td>
                <span title="{{ 'TRANS.Edit' | translate }}" (click)="EditLectureSchedule(element.Id)">
                  <a (click)="EditbasicModal.show()"> <i class="fas fa-edit fa-2x px-2 text-info "></i> </a>

                </span>

                <a title="{{ 'TRANS.Delete' | translate }}" (click)="DeleteLectureSchedule(element.Id)"><i
                    class="far fa-trash-alt px-2 fa-2x text-danger"></i></a>

                <div mdbModal #EditbasicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                  aria-labelledby="myBasicModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg " role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close"
                          (click)="EditbasicModal.hide()">
                          <span aria-hidden="true" class="text-danger"><i class="far fa-times-circle"></i></span>
                        </button>
                        <h3 class="modal-title text-center color-p w-100" id="myModalLabel">
                          <i class="fas fa-user-clock"></i>
                          {{'TRANS.Definedecisions'|translate}}
                        </h3>


                      </div>
                      <div class="modal-body">
                        <form class="example-form col-12 " (ngSubmit)="EditsubmitLectureSchedule(element)"
                          [formGroup]="EDitFormLectureSchedule">
                          <div class="row">

                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div class="">
                                <b for="" class="color-p mx-3 my-1 d-block"> {{'TRANS.ArticleConsultant'|translate}}
                                  <span class="text-danger">*</span> </b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <select class="form-control py-0 " required formControlName="FacultyMemberIds"
                                  title="{{'TRANS.ArticleConsultant'|translate}}"
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.FacultyMemberIds.errors }">
                                  <option value="" selected>{{'TRANS.ProfessorArticle'|translate}}</option>
                                  <option *ngFor="let facultyMemberEnrollment of facultyMemberEnrollments"
                                    [value]="facultyMemberEnrollment.FacultyMemberId">
                                    {{facultyMemberEnrollment.FacultyMemberNameAr}}
                                  </option>
                                </select>
                                <div
                                  *ngIf="submitEditscheduleError && EditLectureScheduleErrors.FacultyMemberIds.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.FacultyMemberIds.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>






                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div>
                                <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.Tabletype'|translate}} <span
                                    class="text-danger">*</span></b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <select class="form-control py-0 " required formControlName="LectureTypeCodes"
                                  title="{{'TRANS.Tabletype'|translate}}"
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.LectureTypeCodes.errors }">
                                  <option value="">{{'TRANS.SelectTabletype'|translate}}</option>
                                  <option *ngFor="let lectureype of lectureypes" [value]="lectureype.Code">
                                    {{lectureype.NameAr}}
                                  </option>
                                </select>
                                <div
                                  *ngIf="submitEditscheduleError && EditLectureScheduleErrors.LectureTypeCodes.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.LectureTypeCodes.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div>
                                <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.ScheduleType'|translate}} <span
                                    class="text-danger">*</span></b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <select class="form-control py-0 " required formControlName="ScheduleTypeCodes"
                                  title="{{'TRANS.ScheduleType'|translate}} "
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.ScheduleTypeCodes.errors }">
                                  <option value="">{{'TRANS.ScheduleTypeSelect'|translate}}</option>
                                  <option *ngFor="let ScheduleType of ScheduleTypes" [value]="ScheduleType.TypeCode">
                                    {{ScheduleType.NameAr}}
                                  </option>
                                </select>
                                <div
                                  *ngIf="submitEditscheduleError && EditLectureScheduleErrors.ScheduleTypeCodes.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.ScheduleTypeCodes.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div class="">
                                <b for="" class="color-p mx-3 my-2 d-block"> {{'TRANS.roomcode'|translate}} <span
                                    class="text-danger">*</span></b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <input type="text" class="form-control py-0 " required formControlName="RoomCodes"
                                  title=" {{'TRANS.roomcode'|translate}}" placeholder=" {{'TRANS.roomcode'|translate}}"
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.RoomCodes.errors }">
                                <div *ngIf="submitEditscheduleError && EditLectureScheduleErrors.RoomCodes.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.RoomCodes.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>


                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div class="">
                                <b for="" class="color-p mx-3 my-2 d-block "> {{'TRANS.Fromhour'|translate}} <span
                                    class="text-danger">*</span></b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <input type="time" class="form-control py-0 " required formControlName="StartTimes"
                                  title="{{'TRANS.Fromhour'|translate}}"
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.StartTimes.errors }">
                                <div *ngIf="submitEditscheduleError && EditLectureScheduleErrors.StartTimes.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.StartTimes.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>



                            <div class="col-md-6 mx-auto row rowInfo my-2">
                              <div class="">
                                <b for="" class="color-p mx-3 my-2 d-block"> {{'TRANS.tohour'|translate}} <span
                                    class="text-danger">*</span></b>
                              </div>
                              <div class=" col-md-12 text-right ">
                                <input type="time" class="form-control py-0 " required formControlName="EndTimes"
                                  title=" {{'TRANS.tohour'|translate}}"
                                  [ngClass]="{ 'is-invalid': submitEditscheduleError && EditLectureScheduleErrors.EndTimes.errors }">
                                <div *ngIf="submitEditscheduleError && EditLectureScheduleErrors.EndTimes.errors"
                                  class="invalid-feedback">
                                  <h4 *ngIf="EditLectureScheduleErrors.EndTimes.errors.required">
                                    {{'TRANS.validationReq'|translate}}</h4>
                                </div>
                              </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-12 pr-0 mb-4">
                              <fieldset>
                                <legend class="text-center color-p  py-3 ">
                                  {{'TRANS.days'|translate}}
                                </legend>

                                <div class="row">
                                  <div class="col-md-2 p-0 m-0 text-center">
                                    <div class="form-check form-check-inline ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" name="Saturdays"
                                        formControlName="Saturdays" id="Saturdays">
                                      <label class="form-check-label px-1"
                                        for="Saturday">{{ 'TRANS.Saturday' | translate }} </label>
                                    </div>
                                  </div>

                                  <div class="col-md-2 p-0 m-0 text-center">

                                    <div class="form-check form-check-inline ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" formControlName="Sundays"
                                        id="Sundays">
                                      <label class="form-check-label px-1"
                                        for="Sunday">{{ 'TRANS.Sunday' | translate }}</label>
                                    </div>
                                  </div>
                                  <div class="col-md-2 p-0 m-0 text-center">

                                    <div class="form-check form-check-inline  ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" formControlName="Mondays"
                                        id="Mondays">
                                      <label class="form-check-label px-1"
                                        for="Monday">{{ 'TRANS.Monday' | translate }}</label>
                                    </div>
                                  </div>
                                  <div class="col-md-2 p-0 m-0 text-center">

                                    <div class="form-check form-check-inline  ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" id="Tuesdays"
                                        formControlName="Tuesdays">
                                      <label class="form-check-label px-1"
                                        for="Tuesday">{{ 'TRANS.Tuesday' | translate }}</label>
                                    </div>
                                  </div>
                                  <div class="col-md-2 p-0 m-0 text-center">

                                    <div class="form-check form-check-inline  ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" id="Wensdays"
                                        formControlName="Wensdays">
                                      <label class="form-check-label px-1"
                                        for="Wensday">{{ 'TRANS.Wednesday' | translate }}</label>
                                    </div>
                                  </div>
                                  <div class="col-md-2 p-0 m-0 text-center">

                                    <div class="form-check form-check-inline  ">
                                      <input type="checkbox" class="form-check-input" (change)="ifcheck()" id="Thursdays"
                                        formControlName="Thursdays">
                                      <label class="form-check-label px-1"
                                        for="Thursday">{{ 'TRANS.Thursday' | translate }}</label>
                                    </div>
                                  </div>

                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <input type="hidden" formControlName="Crns">
                          <input type="hidden" formControlName="TermCodes">


                          <div class="text-center modal-footer w-100">



                            <button type="submit" mdbBtn [disabled]="EDitFormLectureSchedule.invalid || nochecks == true"
                              class="relative save btn btn-main px-5 py-2 mx-auto waves-light shadow" mdbWavesEffect
                              (click)="basicModal.hide()">

                              {{ 'TRANS.save' | translate }}
                              <i class="fas fa-search pr-2 d-none"></i>
                            </button>
                            <button type="button" mdbBtn class="relative px-4 py-2 text-light low rounded d-none"
                              aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>خروج</button>

                          </div>
                        </form>
                      </div>






                    </div>
                  </div>
                </div>





              </td>
            </ng-container>
          </tr>





        </tbody>


      </table>


    </div>

  </div>






</div>



<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" #closeModal (click)="basicModal.hide()">
          <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
        </button>
        <h3 class="modal-title text-center color-p w-100" id="myModalLabel">
          <i class="far fa-calendar-alt"></i>
          {{'TRANS.Definedecisions'|translate}}
        </h3>


      </div>
      <div class="modal-body">
        <form class="example-form col-12 " [formGroup]="LectureSchedule">
          <div class="row">

            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div class="">
                <b for="" class="color-p mx-3 my-1 d-block"> {{'TRANS.ArticleConsultant'|translate}} <span
                    class="text-danger">*</span> </b>
              </div>
              <div class=" col-md-12 text-right ">
                <select class="form-control py-0 " required formControlName="FacultyMemberId"
                  title="{{'TRANS.ArticleConsultant'|translate}}"
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.FacultyMemberId.errors }">
                  <option value="" selected>{{'TRANS.ProfessorArticle'|translate}}</option>
                  <option *ngFor="let facultyMemberEnrollment of facultyMemberEnrollments"
                    [value]="facultyMemberEnrollment.FacultyMemberId">
                    <span *ngIf="pageLang == 'ar'">{{facultyMemberEnrollment.FacultyMemberNameAr}}</span>
                    <span *ngIf="pageLang == 'en'">{{facultyMemberEnrollment.FacultyMemberNameEn}}</span>

                  </option>
                </select>
                <div *ngIf="submitscheduleError && LectureScheduleErrors.FacultyMemberId.errors"
                  class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.FacultyMemberId.errors.required">{{'TRANS.validationReq'|translate}}
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div>
                <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.Tabletype'|translate}} <span
                    class="text-danger">*</span> </b>
              </div>
              <div class=" col-md-12 text-right ">
                <select class="form-control py-0 " required formControlName="LectureTypeCode"
                  title="{{'TRANS.Tabletype'|translate}} "
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.LectureTypeCode.errors }">
                  <option value="" selected>{{'TRANS.SelectTabletype'|translate}}</option>
                  <option *ngFor="let lectureype of lectureypes" [value]="lectureype.Code">
                    <span *ngIf="pageLang == 'ar'">{{lectureype.NameAr}}</span>
                    <span *ngIf="pageLang == 'en'">{{lectureype.NameEn}}</span>

                  </option>
                </select>
                <div *ngIf="submitscheduleError && LectureScheduleErrors.LectureTypeCode.errors"
                  class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.LectureTypeCode.errors.required">{{'TRANS.validationReq'|translate}}
                  </h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div>
                <b for="" class="color-p mx-3 my-1 d-block">{{'TRANS.ScheduleType'|translate}} <span
                    class="text-danger">*</span></b>
              </div>
              <div class=" col-md-12 text-right ">
                <select class="form-control py-0 " required formControlName="ScheduleTypeCode"
                  title="{{'TRANS.ScheduleType'|translate}} "
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.ScheduleTypeCode.errors }">
                  <option value="">{{'TRANS.ScheduleTypeSelect'|translate}}</option>
                  <option *ngFor="let ScheduleType of ScheduleTypes" [value]="ScheduleType.TypeCode">
                    <span *ngIf="pageLang == 'ar'">{{ScheduleType.NameAr}}</span>
                    <span *ngIf="pageLang == 'en'">{{ScheduleType.NameEn}}</span>

                  </option>
                </select>

                <div *ngIf="submitscheduleError && LectureScheduleErrors.ScheduleTypeCode.errors"
                  class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.ScheduleTypeCode.errors.required">{{'TRANS.validationReq'|translate}}
                  </h4>
                </div>

              </div>
            </div>

            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div class="">
                <b for="" class="color-p mx-3 my-2 d-block"> {{'TRANS.roomcode'|translate}} <span
                    class="text-danger">*</span></b>
              </div>
              <div class=" col-md-12 text-right ">
                <input type="text" class="form-control py-0 " placeholder=" {{'TRANS.roomcode'|translate}}" required
                  formControlName="RoomCode" title="{{'TRANS.roomcode'|translate}}"
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.RoomCode.errors }">
                <div *ngIf="submitscheduleError && LectureScheduleErrors.RoomCode.errors" class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.RoomCode.errors.required">{{'TRANS.validationReq'|translate}}</h4>
                </div>
              </div>

            </div>


            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div class="">
                <b for="" class="color-p mx-3 my-2 d-block"> {{'TRANS.Fromhour'|translate}} <span
                    class="text-danger">*</span> </b>
              </div>
              <div class=" col-md-12 text-right ">
                <input type="time" class="form-control py-0 " required formControlName="StartTime"
                  title="{{'TRANS.Fromhour'|translate}}"
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.StartTime.errors }">
                <div *ngIf="submitscheduleError && LectureScheduleErrors.StartTime.errors" class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.StartTime.errors.required">{{'TRANS.validationReq'|translate}}</h4>
                </div>
              </div>

            </div>



            <div class="col-md-6 mx-auto row rowInfo my-2">
              <div class="">
                <b for="" class="color-p mx-3 my-2 d-block"> {{'TRANS.tohour'|translate}} <span
                    class="text-danger">*</span></b>
              </div>
              <div class=" col-md-12 text-right ">
                <input type="time" class="form-control py-0 " required formControlName="EndTime"
                  title="{{'TRANS.tohour'|translate}}"
                  [ngClass]="{ 'is-invalid': submitscheduleError && LectureScheduleErrors.EndTime.errors }">
                <div *ngIf="submitscheduleError && LectureScheduleErrors.EndTime.errors" class="invalid-feedback">
                  <h4 *ngIf="LectureScheduleErrors.EndTime.errors.required">{{'TRANS.validationReq'|translate}}</h4>
                </div>
              </div>
            </div>







            <br>
            <br>


            <div class="col-md-12 pr-0 mb-4">
              <fieldset>
                <legend class="text-center color-p  py-3 ">
                  {{'TRANS.days'|translate}}
                </legend>

                <div class="row">
                  <div class="col-md-2 p-0 m-0 text-center">
                    <div class="form-check form-check-inline ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  name="Saturday" formControlName="Saturday"
                        id="Saturday">
                      <label class="form-check-label px-1" for="Saturday">{{ 'TRANS.Saturday' | translate }}</label>
                    </div>
                  </div>

                  <div class="col-md-2 p-0 m-0 text-center">

                    <div class="form-check form-check-inline ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  formControlName="Sunday" id="Sunday">
                      <label class="form-check-label px-1" for="Sunday">{{ 'TRANS.Sunday' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-2 p-0 m-0 text-center">

                    <div class="form-check form-check-inline  ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  formControlName="Monday" id="Monday">
                      <label class="form-check-label px-1" for="Monday">{{ 'TRANS.Monday' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-2 p-0 m-0 text-center">

                    <div class="form-check form-check-inline  ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  id="Tuesday" formControlName="Tuesday">
                      <label class="form-check-label px-1" for="Tuesday">{{ 'TRANS.Tuesday' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-2 p-0 m-0 text-center">

                    <div class="form-check form-check-inline  ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  id="Wensday" formControlName="Wensday">
                      <label class="form-check-label px-1" for="Wensday">{{ 'TRANS.Wednesday' | translate }}</label>
                    </div>
                  </div>
                  <div class="col-md-2 p-0 m-0 text-center">

                    <div class="form-check form-check-inline ">
                      <input type="checkbox" class="form-check-input" (change)="ifcheck()"  id="Thursday" formControlName="Thursday">
                      <label class="form-check-label px-1 px-1"
                        for="Thursday">{{ 'TRANS.Thursday' | translate }}</label>
                    </div>
                  </div>

                </div>
              </fieldset>
            </div>
          </div>
          <input type="hidden" formControlName="Crn">
          <input type="hidden" formControlName="TermCode">


          <div class="text-center modal-footer w-100 d-table">



            <button type="submit" (click)="submitLectureSchedule()" [disabled]="LectureSchedule.invalid || nochecks == true " mdbBtn
              class="shadow relative save btn btn-main px-5 py-2 mx-auto waves-light mx-3 " mdbWavesEffect>

              {{ 'TRANS.save' | translate }}

            </button>




            <button type="button" mdbBtn class="relative px-4 py-2 text-light low rounded d-none " aria-label="Close"
              (click)="basicModal.hide()" mdbWavesEffect>خروج</button>

          </div>
        </form>
      </div>






    </div>
  </div>
</div>