<header class="py-1  row">
  <div class="settingsBar d-flex col-md-4 ">
    <ul type="none" class="p-0 left-links row">
      <!-- <li class="px-2">
        <a routerLink="">
          <i class="fas fa-power-off headerIcons"></i>
          <span class="mx-1">{{ 'TRANS.signOut' | translate }}</span>
        </a>
      </li> -->
      <li class="px-2" *ngFor="let lang of translate.getLangs()" [class.sactive]="lang === translate.currentLang" (click)="translateUse(lang)">
        {{ lang }}
      </li>
      <li class="px-2">
        <span class="material-icons fas headerIcons  fa-minus-circle mx-1" (click)="fontSize('13px')"></span>
        <span class="material-icons fas headerIcons  fa-plus-circle mx-1" (click)="fontSize('17px')"></span>
        <span class="mx-1">{{ 'TRANS.fontSize' | translate }}</span>
      </li>
      <li class="px-2" (click)="specialColors()">
        <span class="material-icons fas headerIcons fa-eye">
        </span> <span class="mx-1" [class.clicked]="blackAndWhite">{{ 'TRANS.specialColors' | translate }}</span>
        <!-- <i class="fas headerIcons fa-eye-slash"></i>-->
      </li>
    </ul>
  </div>
  <div class="col-md-4 logo text-center" >
    <a routerLink="/">
      <img src="/assets/imgs/mainLogo.png" alt="">
    </a>
  </div>
  <div class="row col-md-4 userBar">
    <div>
      <div class="menu-btn px-3  py-2 text-center" (click)="expand()">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <ul type="none" class="p-0 mx-3 rightLinks row" *ngIf="AuthService.loggedIn()">
      <li class="px-2 notify userProfile ">
        <div class="col text-right">
          <div ngbDropdown class="d-inline-block">
            <button   id="dropdownBasic2" ngbDropdownToggle>
              <span class=" fas headerIcons fa-user material-icons"></span>
              <span class="mx-1">{{ getUserName() }}</span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <a ngbDropdownItem>{{ 'TRANS.profile' | translate }}</a>
              <a ngbDropdownItem (click)="AuthService.logoutUser()">{{ 'TRANS.signOut' | translate }}</a>
            </div>
          </div>
        </div>
      </li>

      <li class="px-2 notify" (click)="notify()">
        <span class="material-icons far   fa-bell "></span>
        <span class="material-icons fas fa-circle"> </span>
      </li>
    </ul>

  </div>

</header>



<div class="bg-menu closed" [class.notifyBg]="notification" (click)="close()" *ngIf="blurBg"></div>
<div class="menu-parent">
  <div class="main-menu " [class.menuOpened]="expanded">

    <!--Admin Menu start-->
    <ul type="none" class="p-0 text-white" *ngIf="getUserRoleCondition('Admin')">
      <!-- home item  -->
      <li class="py-3 homeIcon  ">
        <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink=""
          title="Home" class="px-3">
          <span class="d-inline-block imgIcon text-center">
            <img src="assets/imgs/Icon feather-home.png" class="lightIcon" alt="home icon">
            <div class="darkIcon ">
              <img src="assets/imgs/Icon feather-home2.png" alt="home icon">
            </div>
          </span>
          <span class="d-inline-block menuTxt"> {{ 'TRANS.menuHome' | translate }}</span>
        </a>
      </li>
      <!-- colleges managment -->
      <li class="py-3">
        <div class="adminMenuList row">
          <div class="row dropDown">
            <div class="menu-Icon text-center ">
              <i class="fas fa-university"></i>
            </div>
            <div class="clickable col-10" (click)="openDropDown($event)">
              <b class=" list-title text-center w-100 py-2">
                <span>{{ 'TRANS.menuCollege' | translate }}</span>
                <i class="fas fa-chevron-down" *ngIf="expanded"></i>
              </b>
            </div>
            <ul type="none">
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/colleges"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageColleges' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/deptartments"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageDepartments' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/majors"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageMajors' | translate }} </a> </li>
            </ul>
          </div>
        </div>
      </li>
      <!-- education managment -->
      <li class="py-3">
        <div class="adminMenuList row">
          <div class="row dropDown">
            <div class="menu-Icon  text-center ">
              <i class="fas fa-book-open"></i>
            </div>
            <div class="clickable col-10" (click)="openDropDown($event)">
              <b class=" list-title text-center w-100 py-2">
                <span>{{ 'TRANS.menuManageStudying' | translate }}</span>
                <i class="fas fa-chevron-down" *ngIf="expanded"></i> </b>
            </div>
            <ul type="none">
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/term"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuClassroomSettings' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/courses"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuCourses' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/sections"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuSections' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/LectureSchedule"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuLecturesDates' | translate }} </a> </li>
            </ul>
          </div>
        </div>
      </li>
      <!-- students managment -->
      <li class="py-3">
        <div class="adminMenuList row">
          <div class="row dropDown">
            <div class="menu-Icon  text-center ">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="clickable col-10" (click)="openDropDown($event)">
              <b class=" list-title text-center w-100 py-2">
                <span>{{ 'TRANS.menuStudents' | translate }}</span>
                <i class="fas fa-chevron-down" *ngIf="expanded"></i> </b>
            </div>
            <ul type="none">
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/studentadmin"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageStudentData' | translate }} </a> </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/StudentEnrollment"
                  class="py-3 px-2 d-block">{{ 'TRANS.menuRegisterStudent' | translate }} </a> </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- members managment -->
      <li class="py-3">
        <div class="adminMenuList row">

          <div class="row dropDown">
            <div class="menu-Icon  text-center ">
              <i class="fas fa-briefcase"></i>
            </div>
            <div class="clickable col-10" (click)="openDropDown($event)">
              <b class=" list-title text-center w-100 py-2">
                <span>{{ 'TRANS.menuFacultyMember' | translate }}</span>
                <i class="fas fa-chevron-down" *ngIf="expanded"></i> </b>
            </div>
            <ul type="none" class="w-100">
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/facultyMember"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageMemberData' | translate }} </a>
              </li>
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/MemberEnrollment"
                  class="py-3 px-2 d-block">{{ 'TRANS.menuRegisterMember' | translate }} </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
      <!-- attendance managment -->
      <li class="py-3">
        <div class="adminMenuList row">
          <div class="row dropDown">
            <div class="menu-Icon  text-center ">
              <i class="fas fa-list"></i>
            </div>
            <div class="clickable col-10" (click)="openDropDown($event)">
              <b class=" list-title text-center w-100 py-2">
                <span>{{ 'TRANS.menuAttendanceAbsence' | translate }}</span>
                <i class="fas fa-chevron-down" *ngIf="expanded"></i> </b>
            </div>
            <ul type="none">
              <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="admin/settings"
                  class="py-3 px-2 d-block"> {{ 'TRANS.menuManageAttendanceAbsenceRules' | translate }} </a> </li>
            </ul>
          </div>

        </div>
      </li>


    </ul>
    <!--Admin Menu end-->


        <!--faculty member Menu start-->
        <ul type="none" class="p-0 text-white" *ngIf="getUserRoleCondition('StaffMember')">
          <!-- home item  -->
          <li class="py-3 homeIcon  ">
            <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink=""
              title="Home" class="px-3">
              <span class="d-inline-block imgIcon text-center">
                <img src="/assets/imgs/Icon feather-home.png" class="lightIcon" alt="home icon">
                <div class="darkIcon ">
                  <img src="/assets/imgs/Icon feather-home2.png" alt="home icon">
                </div>
              </span>
              <span class="d-inline-block menuTxt"> {{ 'TRANS.menuHome' | translate }}</span>
            </a>
          </li>

          <li class="py-3 homeIcon">
            <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink="facultyMember/attendanceRecord"
              title="Home" class="px-3">
              <span class="d-inline-block imgIcon text-center">
                <i class="far fa-file-alt fa-2x"></i>
              </span>
              <span class="d-inline-block menuTxt"> {{ 'TRANS.AttendanceAbsentregistrationtitle' | translate }}</span>
            </a>
          </li>

          <li class="py-3 homeIcon">
            <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink="facultyMember/StudentAttendanceForLecture"
              title="Home" class="px-3">
              <span class="d-inline-block imgIcon text-center">
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
              </span>
              <span class="d-inline-block menuTxt"> {{ 'TRANS.StudentAttendanceForLectureTitle' | translate }}</span>
            </a>
          </li>

          <li class="py-3 homeIcon">
            <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink="facultyMember/AttendanceAbsence"
              title="Home" class="px-3">
              <span class="d-inline-block imgIcon text-center">
                <i class="fas fa-user-friends fa-2x"></i>
              </span>
              <span class="d-inline-block menuTxt"> {{ 'TRANS.AttendanceAbsence' | translate }}</span>
            </a>
          </li>


          <li class="py-3">
            <div class="adminMenuList row">
              <div class="row dropDown">
                <div class="menu-Icon  text-center ">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="clickable col-10" (click)="openDropDown($event)">
                  <b class=" list-title text-center w-100 py-2">
                    <span>{{'TRANS.excusesRequests' | translate}} </span>
                    <i class="fas fa-chevron-down" *ngIf="expanded"></i> </b>
                </div>
                <ul type="none">
                  <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="facultyMember/TasksProgres"
                      class="py-3 px-2 d-block"> {{'TRANS.underTheProcedure' | translate}}</a> </li>
                  <li class="d-block"> <a routerLinkActive="menuActive" (click)="close()" routerLink="facultyMember/TasksProgrescompleted"
                      class="py-3 px-2 d-block"> {{'TRANS.completed' | translate}} </a> </li>
                </ul>
              </div>

            </div>
          </li>



        </ul>
        <!--faculty member end-->


                <!--student Menu start-->
                <ul type="none" class="p-0 text-white" *ngIf="getUserRoleCondition('Student')">
                  <!-- home item  -->
                  <li class="py-3 homeIcon  ">
                    <a routerLinkActive="menuActive" (click)="close()" [routerLinkActiveOptions]="{exact : true}" routerLink=""
                      title="Home" class="px-3">
                      <span class="d-inline-block imgIcon text-center">
                        <img src="assets/imgs/Icon feather-home.png" class="lightIcon" alt="home icon">
                        <div class="darkIcon ">
                          <img src="assets/imgs/Icon feather-home2.png" alt="home icon">
                        </div>
                      </span>
                      <span class="d-inline-block menuTxt"> {{ 'TRANS.menuHome' | translate }}</span>
                    </a>
                  </li>



                </ul>
                <!--student menu end-->


  </div>
</div>


