<div class="container-fluid px-3 ">

    <!-- <page-title> {{'TRANS.TaskUnderProcedure'|translate}} </page-title> -->
    <page-title> {{'TRANS.underTheProcedure'|translate}}</page-title>

    <nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center font-weight-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
        <li class="breadcrumb-item"><a class="mx-2" >{{ 'TRANS.underTheProcedure' | translate }}</a></li>
      </ol>
    </nav>


    <!-- <form [formGroup]="themeForm" (ngSubmit)="saveTheme()">
  <div class=" justify-content-center ">
      <div class="row">
    <div class="col-4 ">
        MainBackgorundColor
    </div>
    <div class="col-4">
        <input type="color" id="favcolor" name="favcolor" [value]="MainBackgorundColor" formControlName="MainBackgorundColor">

    </div>
</div>
<div class="row">

    <div class="col-4">
        MainTextColor
    </div>
    <div class="col-4">
        <input type="color" id="favcolor" name="favcolor" [value]="MainTextColor" formControlName="MainTextColor">

    </div>
</div>

    <div class="row">

    <div class="col-4">
        MainLabel
    </div>
    <div class="col-4">
        <input type="color" id="favcolor" name="favcolor" [value]="MainLabel" formControlName="MainLabel">

    </div>

</div>



  </div>

 <button type="submit">SAVE</button>

</form> -->

<form [formGroup]="themeForm" (ngSubmit)="saveTheme()">

<div class="card shadow text-center rounded" >

    <div class="card-body ">
     <div class="row">
         <div class="col-md-6 border-left">
             <h2 class="color-p font-weight-bold">شعار النظام</h2>
             <input type="file"  (change)="handleFileInput($event)">


    <div>


      <input type="hidden" formControlName="LogoFileContent" >

  </div>
             <!-- <br>  -->
             <!-- <span >Logo.Png</span> -->
         </div>

         <div class="col-md-6">
<img width="150px" height="150px" src="data:image/png;base64,{{base64textString}}">
<img width="150px" height="150px" [src]="Logo" >


        </div>

     </div>

    </div>
  </div>





<br>
  <div class="card shadow text-center rounded" >

    <div class="card-body ">
     <div class="row">
         <div class="col-md-6 border-left">
             <h2 class="color-p font-weight-bold"> الرمز المفضل</h2>
             <input type="file" (change)="faviconFileInput($event)">
             <!-- <br>  -->
             <!-- <span >Icon.icon</span> -->
         </div>

         <div class="col-md-6">
          <img width="150px" height="150px" src="data:image/png;base64,{{base64textStringicon}}">
          <img width="150px" height="150px" [src]="Favicon">
    <link rel="icon" type="image/png" href="favicon.png" id="favIcon"/>


          <input type="hidden" formControlName="FaviconFileContent" >

        </div>

     </div>

    </div>
  </div>

<br>

  <div class="card shadow  rounded text-right" >

    <div class="card-body ">
<h2 class="color-p font-weight-bold">الالون</h2>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <label for="exampleInputEmail1 " class="color-p font-weight-bold">لون الخلفية الرئيسي </label>
        <input type="color" id="favcolor" class="form-control" name="favcolor"  formControlName="MainBackgorundColor">


      </div>

      <div class="form-group">
        <label for="exampleInputEmail1 " class="color-p font-weight-bold">لون الخط الرئيسي </label>

        <input type="color" class="form-control" id="favcolor" name="favcolor"  formControlName="MainTextColor">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1 " class="color-p font-weight-bold">لون العنوان الرئيسي </label>

        <input type="color" id="favcolor" class="form-control" name="favcolor" formControlName="MainLabel">
      </div>

</div>
</div>
    </div>

  </div>

  <div class="row justify-content-center my-3 ">

    <div class="col-md-3 text-center">
    <button mdbWavesEffect type="submit"   class="w-50 px-4 py-2 rounded-pill btn-main"  title="{{'TRANS.save'|translate}}" [style.color]="'red'" >
        {{'TRANS.save'|translate}}


      </button>
    </div>


   {{themeForm.value | json}}
    </div>
</form>

  </div>





