<ngx-spinner bdColor="#fff"> <img src='/assets/imgs/loader.gif' /> </ngx-spinner>
<div class="container-fluid mb-4">

<page-title>{{ 'TRANS.collegesTitle' | translate }}</page-title>
<nav aria-label="breadcrumb" class="col-md-6 mx-auto text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">{{ 'TRANS.menuHome' | translate }}</a></li>
    <li class="breadcrumb-item"><a class="mx-2" >{{ 'TRANS.collegesTitle' | translate }}</a></li>
  </ol>
</nav>

  <div class="col-md-12 table-responsive">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped z-depth-1 excel-print">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'TRANS.collegesthCollegeCode' | translate }}</th>
          <th>{{ 'TRANS.collegesthCollegeName' | translate }}</th>
          <th class="d-none-print noExport">{{ 'TRANS.collegesthStatus' | translate }}</th>
          <th class="d-none-print noExport  d-none">{{ 'TRANS.tablethActions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of elements, index as i">
          <td>{{ i+1 }}</td>
          <td>{{ element.CollegeCode }}</td>
          <td>{{ element.Name }}</td>
          <td class="d-none-print">
            <div class="form-group">
              <label class="switch">
                <input type="checkbox" [checked]="element.IsActive" (change)="changeActive(element)">
                <span class="slider round"></span>
              </label>
            </div>
          </td>

          <td class="d-none-print d-none">
            <div (click)="showMod(element.Id)">
              <a mdbBtn type="button" class="w-auto px-3 circle-btn"  mdbWavesEffect  (click)="basicModal.show()"><i class="far fa-edit"></i></a>
            </div>

            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                      <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">{{ 'TRANS.modalEditTitle' | translate }}</h4>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="editForm" (ngSubmit)="edit(element)">
                      <div class="form-group">
                        <b class="color-p mx-3 my-3 d-block text-right"> {{ 'TRANS.collegesthCollegeName' | translate }} </b>
                        <input type="text" class="form-control" formControlName="Name">
                      </div>
                     <div class="row">
                      <div class="col-md-4 mx-auto">
                        <button type="submit" class="w-75 btn-main px-4 py-2 rounded-pill" aria-label="Close" (click)="basicModal.hide()" [disabled]="editForm.invalid">{{ 'TRANS.save' | translate }}</button>
                      </div>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>

        </tr>
      </tbody>

      </table>


    </div>
</div>

